@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Phones</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Danielle Phone app</h2>
        <p>
            An exercise in applying the knowledge gained from MVC Microsoft tutorials 
        </p>
        <h4>Instructions</h4>
        <ul>
            <li>Find 7-10 properties of a smart phone that you want to capture and display to a user</li>
            <li>The user need to sort by columns</li>
            <li>The user need to search by columns</li>
            <li>Paginate the phones list</li>
            <li>Seed the database with a sample set of phones</li>
            <li>Add, edit, delete phones</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Build following these tutorials for help</h2>
        <p>You can build a similiar application by following the steps in a series of tutorials.</p>
        <p>Watch your ASP.net versions though Microsoft VS the Community edition does 2.0 and 2.1 but the tutorial is in 2.2</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-2.1&tabs=visual-studio">See the tutorial &raquo;</a></p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-2.0">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>